:root{
    --blue-color: rgb(22, 60, 144) !important;
}

.main-container{
    position: relative;
}
.header{
    margin: 0;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid rgba(42, 39, 39, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}
.header a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--blue-color);
    border-radius: 10px;
    text-transform: uppercase;
}
.logo div{
    padding: 7px;
    font-weight:bold;
    font-size: large;
    
}
#name{
    color: var(--blue-color);
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: var(--blue-color);
    border-radius: 10px 0px 0px 10px;
}
#service{
    background-color: var(--blue-color);
    border-radius:0px 10px 10px 0px;
    color: rgb(255, 255, 255);
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: var(--blue-color);
}
.navbar{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link a{
    padding: 15px 0px;
    padding-left: 30px;
    text-decoration: none;
    color: var(--blue-color) ;
    font-size: large;
}

.nav-link a:hover{
    cursor: pointer;
    color: black
}
.open_button{
    display: none;
}

/* Media Query */
@media (max-width: 760px) {
    .header{
        padding: 24px 14px;
    }
    #name{
        font-size: 12px;
    }
    #service{
        font-size: 12px;
    }
    .open_button{
        background-color: white;
        border-radius: 50%;
        box-shadow:1px 1px 5px 0px black;
        z-index: 900;
        width: 35px;
        height: 35px;
        position: fixed;
        right: 30px;
        top: 26px;
        color: grey;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

    }
    .navbar{
        display: none;
    }
    
}
.main{
    position: relative;
}
.sidebarOn{
    transition: 1s;    
    position: fixed;
    z-index: 800;
    height: 100%;
    width: 250px;
    right: 0;
    top: 0;
    background-color: var(--blue-color);
    
}
.sidebarOff{
    transition: 1s;
    position: fixed;
    z-index: 800;
    height: 100%;
    width: 250px;
    right: -250px;
    top: 0;
    background-color: var(--blue-color);

}
.side_navbar{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.side_navbar .nav-link{
    padding-top: 10px;
    list-style: none;
}
.side_navbar .nav-link a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}